.hora-chat{
    color: #000000;
    font-size: 11px;
    margin-top: 0px;
    padding-top: 0px;
  }
  
  .form-control{
    margin-top: 0px;
    width: 98%;
  }
  
  .principal{
   // background-color: antiquewhite;
   background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }
  
  div h2{
      color: white;
  }

  .badge{
    color: #000;
    font-size:1rem;
    
    
   padding-left: 50;

  
  }
  
  /* Scoll */
  
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  */
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
     --webkit-box-shadow: inset 0 0 20px rgba(103, 103, 103, 0.816);
  }
  
  /* Fin Scroll */
  
  
  .main-container{
      padding-top: 3%;
      padding-bottom: 3%;
      display: flex;
      align-items: center;
      justify-content: center;
      
    }
    
    .puntero{
      cursor: pointer;
    }
    
    
    .chat-window{
      padding: 10px;
      width: 35vw;
      height: 100vh;
      overflow: auto;
      border: 1px solid #717171;
      border-radius: 20px;
      box-shadow: 8px 7px 22px -4px rgba(94, 40, 40, 0.75);
      -webkit-box-shadow: 8px 7px 22px -4px rgba(94, 40, 40, 0.75);
      -moz-box-shadow: 8px 7px 22px -4px rgba(94, 40, 40, 0.75);
      background-color: rgba(75, 48, 48, 0.523);
    }
    
    #app-mensajes{
      overflow-y:scroll;
      height:750px;
      /*background:gray;*/
      padding: 5px;
      scrollbar-color: rgb(138, 138, 138) #785978;
      scrollbar-width: 10px;
    }
    
    
    /* Animaciones */
    .animated {
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    }
    
    .fast {
      -webkit-animation-duration: 0.3s;
      animation-duration: 0.3s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    }
    
    @keyframes fadeIn {
      from {
        opacity: 0;
      }
    
      to {
        opacity: 1;
      }
    }
    
    .fadeIn {
      animation-name: fadeIn;
    }

    .chat-bubble-container{
      display: flex;
      width: 100%;
      justify-content: flex-start;
    }

    .chat-bubble-container.text-right{
      justify-content: flex-end;
    }

    .chat-bubble-container.text-right > .chat-bubble{
      background: #c5cae9;
    }

    

    .chat-bubble{
      background: white;
      padding-top: 8px;
      padding-bottom: 18px;
      padding-left: 8px;
      padding-right: 100px;
      margin-bottom: 8px;
      width: fit-content;

      border-radius: 10px;

      position: relative;
    }

    .chat-bubble > .chat-date{
      position: absolute;
      bottom: 2px;
      right: 8px;
      font-size: 0.7rem;
      color: black;
    }

    .chat-area{
      height: 800px;

      display: flex;
      flex-direction: column;
      overflow: auto;
    }

    .chat-area > :first-child {
      margin-top: auto;
    }

