<app-navbar></app-navbar>

<div class="principal">

  <div class="container main-container">

      <div class="chat-window ">
          <h2>Chateamos?</h2>

          <hr>

          <div class=" chat-area" id="app-mensajes">
           
              <div *ngFor='let chat of chatSrv.chats' >

                  
                
                  
                
                  <div class="chat-bubble-container " [ngClass]="{'text-right':chatSrv.nombreUser == chat.nombre, 'text-left':chatSrv.nombreUser != chat.nombre}">
                    <!-- <span class="badge" >
                        
                        {{chat.nombre}}
                    </span> -->
                    
                    <div class="chat-bubble" [ngClass]="{
                        'badge-primary':chatSrv.nombreUser == chat.nombre, 
                        'badge-success':chatSrv.nombreUser != chat.nombre}">
                        <span class="badge" >
                        
                            {{chat.nombre}}
                        </span>
                        <br>
                        {{chat.mensaje}}
                        <span class="chat-date">
                           {{chat.hora}}
                        </span>
                    </div>
                     
                  </div>

                  

              </div>  

              <input type="text" class="form-control" name="mensaje" autocomplete="off" [(ngModel)]="mensaje" (keyup.enter)="EnviarMensaje()" placeholder="Enviar... ">
           
          </div> 

      </div>

  </div>

</div>


