<div class="alumno-container">
  <div class="carta-alumno" (click)="toggleFlip()" [@flipState]="flip">
    <div class="tp-box__side tp-box__front">
      <header>
        <div>
          <img class="photoAlumno" src="../../../assets/fotoAlumno.jpeg" />
        </div>

        <h1>Gonzalez Martin</h1>

        <h2>Estudiante de UTN-FRA</h2>
      </header>

      <div class="profile-bio">
        <p>
          Soy estudiante de programación en la Universidad Tecnológica Nacional
          : Facultad Regional Avellaneda (UTNFRA) y amante de la tecnología.
          Siempre dispuesto y sin miedo a aprender algo nuevo.
        </p>
      </div>
      
      <span>¡Hace click en la carta para saber sobre mi juego!</span>
      
        <ul class="social-icons list-unstyled list-inline">
          <li>
            <a
              class="facebook"
              href="https://www.facebook.com/"
              target="_blank"
            >
              <fa-icon class="fa" [icon]="faFacebook"></fa-icon>
            </a>
          </li>

          <li>
            <a
              class="instagram"
              href="https://www.linkedin.com/"
              target="_blank"
            >
              <fa-icon class="fa" [icon]="faLinkedin"></fa-icon>
            </a>
          </li>

          <li>
            <a class="mail" href="https://www.twitter.com/" target="_blank">
              <fa-icon class="fa" [icon]="faTwitter"></fa-icon
            ></a>
          </li>

          <li>
            <a
              class="mail"
              href="https://github.com/MGonzalezx"
              target="_blank"
            >
              <fa-icon class="fa" [icon]="faGithub"></fa-icon
            ></a>
          </li>
        </ul>

        
      
    </div>

    <div class="tp-box__side tp-box__back">
        <p class="desc-juego">
            Mi juego va a ser "Adivina el número". Este juego es simple entretenido.El
            jugador debe adivinar un número secreto dentro de un rango específico en
            la menor cantidad de intentos posibles. El juego va a proporcionar pistas
            al jugador después de cada suposición (por ejemplo, "Demasiado alto" o
            "Demasiado bajo").
        </p>
     


      <ul class="social-icons list-unstyled list-inline">
        <li>
          <a
            class="facebook"
            href="https://www.facebook.com/"
            target="_blank"
          >
            <fa-icon class="fa" [icon]="faFacebook"></fa-icon>
          </a>
        </li>

        <li>
          <a
            class="instagram"
            href="https://www.linkedin.com/"
            target="_blank"
          >
            <fa-icon class="fa" [icon]="faLinkedin"></fa-icon>
          </a>
        </li>

        <li>
          <a class="mail" href="https://www.twitter.com/" target="_blank">
            <fa-icon class="fa" [icon]="faTwitter"></fa-icon
          ></a>
        </li>

        <li>
          <a
            class="mail"
            href="https://github.com/MGonzalezx"
            target="_blank"
          >
            <fa-icon class="fa" [icon]="faGithub"></fa-icon
          ></a>
        </li>
      </ul>
    </div>
  </div>
</div>
