@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@700&family=Work+Sans:wght@200;400;500&display=swap");

.alumno-container {
  background-image: url("../../../assets/backgroundInfoAlumno.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carta-alumno {
  position: relative;
  background-color: antiquewhite;
  border-radius: 1rem;
  min-width: 300px;
  width: 50%;
  max-width: 500px;
  min-height:600px;
  box-shadow: 5px 5px #fc7100;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: transform 1s;
  -ms-transform: transform 1s;
  transform: transform 1s;
  header {
    text-align: center;
    h1 {
      color: #ff5722;
      
    }
    img {
      width: 150px;
      height: 150px;
      margin-left: auto;
      margin-right: auto;
      transform: translateY(-10%);
      border-radius: 50%;
      overflow: hidden;
      position: relative;
      z-index: 4;
      box-shadow: 0px 5px 50px 0px rgb(194, 114, 62),
        0px 0px 0px 7px rgb(252, 122, 1);

      @media screen and (max-width: 576px) {
        width: 120px;
        height: 120px;
      }

      .photoAlumno {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }
  }

  .profile-bio {
    padding: 20px 20px 30px 20px;

    color: #333333;
    margin-top: 10px;
    text-align: center;
  }
}

h1,
h2 {
  font-weight: 400;
  font-family: "Kanit", sans-serif;
  margin: 0px 0px 5px 0px;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 16px;
}
p {
  font-family: "Work Sans", sans-serif;
  margin: 0px;
}

.list-unstyled {
  margin-top: 20px;
  padding-left: 0;
  list-style: none;
  height: 50px;
}
.list-inline li {
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
}
.social-icons .fa {
  font-size: 1.8em;
  line-height: 0px;

  text-align: center;
  color: #ff7300;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.social-icons .fa:hover,
.social-icons .fa:active {
  font-size: 3em;
}

.tp-box__side {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.tp-box__front {
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.tp-box__back {
  -webkit-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  cursor: pointer;
}

.desc-juego {
  font-size: 25px;
  padding: 20px 20px 50px 20px;
  color: #333333;
  margin-top: 100px;
  text-align: center;
}

span{
  margin-bottom: 25px;
  color: rgb(0, 38, 255);
}
