.container {
    min-height: 100vh;
    min-width: 100vw;
    text-align: center;
    background: linear-gradient(270deg, #faebd7, #63c0c4, #5bcea7,#40b868,#74ca4c);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 17s ease infinite;
    animation: AnimationName 17s ease infinite;
    margin-top: -27px;
  }

.img__container{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 175px;
}
  
img{
    height: 300px;
}

div .message{
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: .5rem;
    margin-top: 5px;
  }

div .counter{
    color: rgb(123, 29, 29);
    font-weight: bold;
    font-size: 1.5rem;
    align-items: center;
  }

div .h1Plabra{
    color: rgb(123, 29, 29);
    align-items: center;
}

div .letters{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: .3rem .6rem;
}

div .mensaje{
    border: 1px solid #666;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    color: #fff;
    text-align: center;
    font-weight: 900;
    border-radius: .5rem;
    background-color: rgb(123, 29, 29);
}



div .letter_button{
    font-size: 1rem;
    padding: .6rem 1.2rem;
    background-color: rgb(123, 29, 29);
    margin: .3rem .6rem;
    border-radius: .5rem;
    border: 1px solid #666;
    color: #fff;
    filter: drop-shadow(0px 0px 2px#666);
    font-weight: 400;
}

div .botones_resultados{
    align-items: center;
    margin-top: 1.5rem;
    display: flex;
    padding: 1rem 2rem;
    text-align: center;
    border-radius: .5rem;
    border: 1px solid #666;
    filter: drop-shadow(0px 1px 2px #666);
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: .5px;
    color: #fff;
    background-color:rgb(123, 29, 29);
}

  @-webkit-keyframes AnimationName {
    0%{background-position:0% 84%}
    50%{background-position:100% 17%}
    100%{background-position:0% 84%}
}
@keyframes AnimationName {
    0%{background-position:0% 84%}
    50%{background-position:100% 17%}
    100%{background-position:0% 84%}
}

  .titulo{
    font-family:Georgia, 'Times New Roman', Times, serif;
    
  }