
<app-navbar></app-navbar>

<div class="home-container">
  <div class="sample-column card-wrapper">
    <igx-card class="tarjeta">
      <igx-card-media height="196px">
        <img src="../../../assets/ahorcado.png" />
      </igx-card-media>

      <igx-card-header>
        <h3 igxCardHeaderTitle>Ahorcado</h3>
        <h5 igxCardHeaderSubtitle>Juego de letras</h5>
      </igx-card-header>

      <igx-card-content>
        <p>Adivina la palabra antes que el hombre quede ahorcado</p>
      </igx-card-content>

      <igx-card-actions>
        <button igxButton igxRipple routerLink="/ahorcado">¡JUGAR!</button>
        <button igxButton="icon" igxRipple [igxRippleCentered]="true">
          <igx-icon>favorite</igx-icon>
        </button>
        <button igxButton="icon" igxRipple [igxRippleCentered]="true">
          <igx-icon>share</igx-icon>
        </button>
      </igx-card-actions>
    </igx-card>

    

    <igx-card class="tarjeta">
      <igx-card-media height="196px">
        <img src="../../../assets/mayoromenor.png" />
      </igx-card-media>

      <igx-card-header>
        <h3 igxCardHeaderTitle>Mayor o Menor</h3>
        <h5 igxCardHeaderSubtitle>Juego de números</h5>
      </igx-card-header>

      <igx-card-content>
        <p>
          Desde un mazo de cartas se va a preguntar si la siguiente carta es
          mayor o menor. El jugador sumará un punto ante cada carta que adivine.
        </p>
      </igx-card-content>

      <igx-card-actions>
        <button igxButton igxRipple routerLink="/mayorMenor">¡JUGAR!</button>
        <button igxButton="icon" igxRipple [igxRippleCentered]="true">
          <igx-icon>favorite</igx-icon>
        </button>
        <button igxButton="icon" igxRipple [igxRippleCentered]="true">
          <igx-icon>share</igx-icon>
        </button>
      </igx-card-actions>
    </igx-card>

    <igx-card class="tarjeta">
      <igx-card-media height="196px">
        <img src="../../../assets/preuntados.jpg" />
      </igx-card-media>

      <igx-card-header>
        <h3 igxCardHeaderTitle>Preguntados</h3>
        <h5 igxCardHeaderSubtitle>Juego de preguntas</h5>
      </igx-card-header>

      <igx-card-content>
        <p>Con ayuda de la imagen dada, elegir la opción correcta</p>
      </igx-card-content>

      <igx-card-actions>
        <button igxButton igxRipple>¡JUGAR!</button>
        <button igxButton="icon" igxRipple [igxRippleCentered]="true">
          <igx-icon>favorite</igx-icon>
        </button>
        <button igxButton="icon" igxRipple [igxRippleCentered]="true">
          <igx-icon>share</igx-icon>
        </button>
      </igx-card-actions>
    </igx-card>

    <igx-card class="tarjeta">
      <igx-card-media height="196px">
        <img src="../../../assets/numeros.jpg" />
      </igx-card-media>

      <igx-card-header>
        <h3 igxCardHeaderTitle>Adivina el número</h3>
        <h5 igxCardHeaderSubtitle>Juego de números</h5>
      </igx-card-header>

      <igx-card-content>
        <p>
          El jugador debe adivinar un número secreto dentro de un rango
          específico en la menor cantidad de intentos posibles.
        </p>
      </igx-card-content>

      <igx-card-actions>
        <button igxButton igxRipple>¡JUGAR!</button>
        <button igxButton="icon" igxRipple [igxRippleCentered]="true">
          <igx-icon>favorite</igx-icon>
        </button>
        <button igxButton="icon" igxRipple [igxRippleCentered]="true">
          <igx-icon>share</igx-icon>
        </button>
      </igx-card-actions>
    </igx-card>

    <igx-card class="tarjeta">
      <igx-card-media height="196px">
        <img src="../../../assets/numeros.jpg" />
      </igx-card-media>

      <igx-card-header>
        <h3 igxCardHeaderTitle>Sala de chat</h3>
        <h5 igxCardHeaderSubtitle>Hora de hablar</h5>
      </igx-card-header>

      <igx-card-content>
        <p>
          Podes comunicarte con los demas usuarios
        </p>
      </igx-card-content>

      <igx-card-actions>
        <button igxButton igxRipple routerLink="/chat">¡ENTRAR!</button>
        <button igxButton="icon" igxRipple [igxRippleCentered]="true">
          <igx-icon>favorite</igx-icon>
        </button>
        <button igxButton="icon" igxRipple [igxRippleCentered]="true">
          <igx-icon>share</igx-icon>
        </button>
      </igx-card-actions>
    </igx-card>
    
  </div>
</div>
