<app-spinner-juego></app-spinner-juego>
<app-navbar></app-navbar>
<div class="principal">
  <div class="container">
    <div class="row">
      
      <div class="col-sm-3">
        <div class="img__container">
          <span class="counter"> Vidas: {{vidas}}/{{vidasTotal}}</span>
          <img src="../../../assets/mayor-menor-cartas/{{numero}}.png" alt="" style="margin-top: 20px;">
          
          <br><br>
    
          <div class="mensaje win" *ngIf="win">
            <span>{{mensajePuntosWin}}</span>
          </div>
        
          <div class="mensaje lose" *ngIf="lose">
            <span>{{mensajePuntosLose}}</span>
          </div>
    
          
        
          
        </div>
      </div>

      <div class="col-sm-6 botones">

        <span class="counter"> Puntos: {{puntos}}</span>

        <br><br>
        
        <h2 *ngIf="!smsFinal" style="margin-left: 5px;" >La siguiente carta es:</h2>

        <div class="mensaje lose" *ngIf="smsFinal">
          <span>{{mensajeFinal}}</span>
        </div>

        <br>
        <button type="submit" class="col btn" *ngIf="!smsFinal" (click)="Jugar('mayor')">Mayor</button>
        <button type="submit" class="col btn" *ngIf="!smsFinal" (click)="Jugar('menor')">Menor</button>

        <button type="submit" class="col btn" *ngIf="smsFinal" (click)="Repetir()"><i class="fas fa-undo"></i>Repetir</button>
        <button type="submit" class="col btn" *ngIf="smsFinal" [routerLink]="['/home']" routerLinkActive="router-link-active" >Salir</button>
      </div>
      
    </div>

    
    
  </div>
</div>

